#quit{
    position:absolute;
    z-index:-1;
}
#me2{
    position:absolute;
    width:100px;
    height:100px;
}
#clicks{
    
    z-index:-1;
    font-size:20px;
    position:absolute
}